<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="10">
    <title>@ViewData["Title"] - Debatní Mayhem @DateTime.Today.Year</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*     <link rel="stylesheet" href="~/DSDD.DebatniMayhem.Web.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-page="/Index">
                    <img src="~/logo.png" alt="Debatní mayhem Debatního deníku @DateTime.Now.Year" class="logo" />
                </a>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://debatnispolek.sharepoint.com/:w:/g/ETxBxqSCJ0FCtZKeAbW7ZFcBkCp41mkqZh4UNbXusPuCIQ">Pravidla turnaje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://debatnispolek.sharepoint.com/:w:/g/EWCkADwixYZPoIAC4oquPqgB3vqnlK9G7cCO62vv91571w?e=bgi0KT">Návštěvní řád</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://debatnispolek.sharepoint.com/:w:/g/EUSLd54OD2hNsMlqRJuW8UsB5EppnamFldWMwZhTSbHy4g">GDPR - Účastníci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://debatnispolek.sharepoint.com/:w:/g/EdC5t8KvKkBApAKgHG5Y9PEB4EbCg9qg-ggSdLEwprghRA">GDPR - Fotografie a videa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 d-flex flex-column align-items-center">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Debatní spolek Debatního deníku
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@

@*     @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>